.bg-black-1 {
  background-color:lighten(#000000, 90%)
}
.bg-black-2 {
  background-color:lighten(#000000, 80%)
}
.bg-black-3 {
  background-color:lighten(#000000, 70%)
}
.bg-black-4 {
  background-color:lighten(#000000, 60%)
}
.bg-black-5 {
  background-color:lighten(#000000, 50%)
}
.bg-black-6 {
  background-color:lighten(#000000, 40%)
}
.bg-black-7 {
  background-color:lighten(#000000, 30%)
}
.bg-black-8 {
  background-color:lighten(#000000, 20%)
}
.bg-black-9 {
  background-color:lighten(#000000, 10%)
}
