$brand-primary: #499CE3;
$brand-text: #272D36;
$brand-secondary: #CCCCCC;
$brand-tertiary: #E2E2E2;
$brand-loading: #F7F7F7;
$brand-white: #FFFFFF;
$brand-success: #47B75E;
$brand-success-fade: transparentize(#47B75E, 0.95);
$brand-barcodeSuccess: #00E110;
$brand-request: #478EB7;
$brand-danger: #E33446;
$brand-darkDanger: #D73333;
$brand-bolt: #F4C018;
$brand-purple: #7F56C3;
$brand-water-blue: #85BBF0;
